Repository stuartellis/basin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_app_registry, trigger_b_app_ecr

.gitlab-ci.yml:

stages:
  - test_stacks

trigger_app_registry:
  stage: test_stacks
  trigger:
    include: terraform1/stacks/definitions/app_registry/.gitlab-ci.yml
  rules:
    - changes:
        - terraform1/stacks/definitions/app_registry/*

trigger_b_app_ecr:
  stage: test_stacks
  trigger:
    include: terraform1/stacks/definitions/app_ecr/.gitlab-ci.yml
  rules:
    - changes:
        - terraform1/stacks/definitions/app_ecr/*

Remove deploy stage
  .gitlab-ci.yml
  terraform1/stacks/definitions/app_ecr/.gitlab-ci.yml
  terraform1/stacks/definitions/app_registry/.gitlab-ci.yml
Due: trigger_app_registry, trigger_b_app_ecr

Re-add deploy
  .gitlab-ci.yml
  gitlab/deploy/app_ecr.yml
  gitlab/deploy/app_registry.yml
  terraform1/stacks/definitions/app_ecr/.gitlab-ci.yml
Due: trigger_b_app_ecr

Fix deploy
  .gitlab-ci.yml
Due: none

Make deployments conditional
  .gitlab-ci.yml
Due: none

Amend README
  terraform1/stacks/definitions/README.md
Due: none

Add README
  terraform1/stacks/definitions/README.md
  terraform1/stacks/definitions/app_ecr/README.md
Due: trigger_b_app_ecr

Add stacktool target
  terraform1/stacks/definitions/app_ecr/.gitlab-ci.yml
Due: trigger_b_app_ecr

Add make
  terraform1/stacks/definitions/app_ecr/.gitlab-ci.yml
Due: trigger_b_app_ecr

Amend GL pipeline
  .gitlab-ci.yml
  terraform1/stacks/definitions/app_ecr/.gitlab-ci.yml
  terraform1/stacks/definitions/app_registry/.gitlab-ci.yml
Due: trigger_app_registry, trigger_b_app_ecr

Amend GL pipeline
  .gitlab-ci.yml
Due: none

Amend GL pipeline
  terraform1/stacks/definitions/app_registry/.gitlab-ci.yml
Due: trigger_app_registry

Add DD to stacktools
  make/tools/stacktools/terraform-cli.mk
Due: none

Enable AWS session token
  make/tools/stacktools/terraform-cli.mk
Due: none

Set locals
  terraform1/stacks/definitions/app_registry/locals.tf
Due: trigger_app_registry

Add Datadog
  .devcontainer/devcontainer.json
  terraform1/stacks/definitions/dd_access/.terraform.lock.hcl
  terraform1/stacks/definitions/dd_access/README.md
  terraform1/stacks/definitions/dd_access/data_sources.tf
  terraform1/stacks/definitions/dd_access/dd_users.tf
  terraform1/stacks/definitions/dd_access/locals.tf
  terraform1/stacks/definitions/dd_access/main.tf
  terraform1/stacks/definitions/dd_access/provider.tf
  terraform1/stacks/definitions/dd_access/variables.tf
  terraform1/stacks/definitions/dd_aws_account/.terraform.lock.hcl
  terraform1/stacks/definitions/dd_aws_account/README.md
  terraform1/stacks/definitions/dd_aws_account/data_sources.tf
  terraform1/stacks/definitions/dd_aws_account/dd_users.tf
  terraform1/stacks/definitions/dd_aws_account/locals.tf
  terraform1/stacks/definitions/dd_aws_account/main.tf
  terraform1/stacks/definitions/dd_aws_account/provider.tf
  terraform1/stacks/definitions/dd_aws_account/variables.tf
  terraform1/stacks/environments/all/dd_access.tfvars
  terraform1/stacks/environments/all/dd_aws_account.tfvars
  terraform1/stacks/environments/dev/dd_access.tfvars
  terraform1/stacks/environments/dev/dd_aws_account.tfvars
  terraform1/stacks/environments/preprod/app_ecr.tfvars
  terraform1/stacks/environments/preprod/app_registry.tfvars
  terraform1/stacks/environments/preprod/dd_access.tfvars
  terraform1/stacks/environments/preprod/dd_aws_account.tfvars
  terraform1/stacks/environments/preprod/example_dd_service.tfvars
  terraform1/stacks/environments/preprod/example_file_store.tfvars
  terraform1/stacks/environments/prod/app_ecr.tfvars
  terraform1/stacks/environments/prod/app_registry.tfvars
  terraform1/stacks/environments/prod/dd_access.tfvars
  terraform1/stacks/environments/prod/dd_aws_account.tfvars
  terraform1/stacks/environments/prod/example_dd_service.tfvars
  terraform1/stacks/environments/prod/example_file_store.tfvars
  terraform1/stacks/environments/test/app_ecr.tfvars
  terraform1/stacks/environments/test/app_registry.tfvars
  terraform1/stacks/environments/test/dd_access.tfvars
  terraform1/stacks/environments/test/dd_aws_account.tfvars
  terraform1/stacks/environments/test/example_dd_service.tfvars
  terraform1/stacks/environments/test/example_file_store.tfvars
Due: none

fix: Remove legacy terraform directory/
  terraform/.gitignore
  terraform/main.tf
  terraform/tf_provider_aws.tf
Due: none

Add Stack Tools
  Makefile
  Makefile.old
  docker/tools/stacktools/README.md
  docker/tools/stacktools/runner.dockerfile
  make/tools/stacktools/README.md
  make/tools/stacktools/runner-container.mk
  make/tools/stacktools/stacktools-core.mk
  make/tools/stacktools/terraform-cli.mk
Due: none

Add Stack Tools
  Makefile
  docker/terraform-tools.dockerfile
  make/tools/stacktools/runner-container.mk
  make/tools/stacktools/stacktools-core.mk
  make/tools/stacktools/terraform-cli.mk
  make/tools/terraform-cli.mk
  make/tools/terraform-tools-container.mk
Due: none

fix: Remove obsolete files
  .tool-versions
  docker/docker-compose.yml
  docker/python-cli-app.dockerfile
  make/apps/basin.mk
  terraform/.gitignore
  terraform/main.tf
  terraform/tf_provider_aws.tf
Due: none

feat: Update Stack Tools
  make/tools/stacktools/stacktools-core.mk
Due: none

feat: Add directory structure for stacks
  terraform1/.gitignore
  terraform1/stacks/definitions/README.md
  terraform1/stacks/definitions/template/README.md
  terraform1/stacks/definitions/template/locals.tf
  terraform1/stacks/definitions/template/main.tf
  terraform1/stacks/definitions/template/provider.tf
  terraform1/stacks/definitions/template/variables.tf
  terraform1/stacks/environments/README.md
  terraform1/stacks/environments/all/README.md
  terraform1/stacks/modules/README.md
Due: none

Upgrade to Stack Tools 0.4.16
  make/tools/stacktools/stacktools-core.mk
  make/tools/stacktools/terraform-cli.mk
  terraform1/stacks/README.md
  terraform1/stacks/environments/dev/backend.json
  terraform1/stacks/environments/preprod/backend.json
  terraform1/stacks/environments/prod/backend.json
  terraform1/stacks/environments/sandbox/README.md
  terraform1/stacks/environments/test/backend.json
Due: none

Add test stack
  terraform1/stacks/definitions/infra_canary/README.md
  terraform1/stacks/definitions/infra_canary/locals.tf
  terraform1/stacks/definitions/infra_canary/main.tf
  terraform1/stacks/definitions/infra_canary/provider.tf
  terraform1/stacks/definitions/infra_canary/ssm_parameters.tf
  terraform1/stacks/definitions/infra_canary/variables.tf
  terraform1/stacks/environments/all/infra_canary.tfvars
  terraform1/stacks/environments/dev/infra_canary.tfvars
  terraform1/stacks/environments/preprod/infra_canary.tfvars
  terraform1/stacks/environments/prod/infra_canary.tfvars
  terraform1/stacks/environments/sandbox/infra_canary.tfvars
  terraform1/stacks/environments/test/infra_canary.tfvars
Due: none

feat: Parent-child pipeline
  .gitlab-ci.yml
  .gitlab-ci.yml.old
  terraform1/stacks/definitions/infra_canary/.gitlab-ci.yml
Due: none

feat: Parent-child pipeline 2
  terraform1/stacks/definitions/infra_canary/.gitlab-ci.yml
Due: none

feat: Parent-child pipeline 3
  terraform1/stacks/definitions/infra_canary/.gitlab-ci.yml
Due: none

feat: Parent-child pipeline 4
  terraform1/stacks/definitions/infra_canary/.gitlab-ci.yml
Due: none

feat: Parent-child pipeline 5
  make/tools/stacktools/runner-container.mk
  terraform1/stacks/definitions/infra_canary/.gitlab-ci.yml
Due: none

feat: Parent-child pipeline 6
  terraform1/stacks/definitions/infra_canary/.gitlab-ci.yml
Due: none

Update Dev Container
  .devcontainer/devcontainer.json
Due: none

feat: Upgrade to Alpine 3.17.1
  docker/tools/stacktools/runner.dockerfile
  make/tools/stacktools/runner-container.mk
Due: none

Set default CPU arch
  docker/tools/stacktools/runner.dockerfile
Due: none

Parent-child pipeline 7
  terraform1/stacks/definitions/infra_canary/.gitlab-ci.yml
Due: none

Parent-child pipeline 8
  terraform1/stacks/definitions/infra_canary/.gitlab-ci.yml
Due: none

Parent-child pipeline 9
  terraform1/stacks/definitions/infra_canary/.gitlab-ci.yml
Due: none

Parent-child pipeline 10
  terraform1/stacks/definitions/infra_canary/.gitlab-ci.yml
Due: none

Parent-child pipeline 11
  terraform1/stacks/definitions/infra_canary/.gitlab-ci.yml
Due: none

Parent-child pipeline 12
  terraform1/stacks/definitions/infra_canary/.gitlab-ci.yml
Due: none

Parent-child pipeline 13
  terraform1/stacks/definitions/infra_canary/.gitlab-ci.yml
Due: none

Parent-child pipeline 14
  terraform1/stacks/definitions/infra_canary/.gitlab-ci.yml
Due: none
